* { 
  box-sizing: border-box;
}

.hidden{
  display: none;
}

body {
font-family: 'Aleo', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  
color:#eb8a88;
   background-color: #116466;

}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

img {
   image-rendering: pixelated;

    width: 100%;
    height: auto;

}

header {
  text-align: center;
  
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
margin-bottom: 40px;

 
}
.first-column{
  float:left;
  margin: auto;
}

.second-column{
  width:92%;
  height: 500px;
  display: inline-block;
  margin-top: 50px;
  margin-right: 34px;
}

.navbar{
  background-color: #116466;
  margin:auto;
  margin-bottom:  10px;
  border-bottom: 1px solid #eb8a88 ;
}
.fa-bars {
    color: #eb8a88;
}
.nav-link{
color:#eb8a88;
font-size: 1.5em;
padding:auto;
}
.navbar-toggler {
    order: -1;
}

.collapse.show{
  height: 25vh;
}
.nav-link{
color:#eb8a88;
font-size: 1.5em;
padding:auto;
}
.nav-link:hover{

color: white;
}



.mylogo{
  width:50px;
  max-width: 150px;

}

 .tag.name{
  margin-top:35px;
  padding-top: 50px;
 }
 .profile-image {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 2s;
}

.profile-image:hover{
  transform: scale(2);
}

.waiting{
  filter: grayscale(100%);
  width: 50%;
}

#typed{
  font-weight: 200;
    font-size: 32px
}
.index-separator{
 width:100%;
 color:red;
 border-width: 2px;
 border-color:  #eb8a88;
}


/*CURRICULUM*/
.introduction{
  margin-top:60px;
  margin-left:20%;
  margin-right:20%;
}

.me-cartoon{
  width: 50%;
  border-radius: 30%;
}

.description{
  padding-top:50px;
}
/*MODAL STYLE*/
.list-of{
  list-style: none;
}
.task-list-modal{
  text-align: left;
}

/*SKILLS*/

.skillset .skillbar {
  height:30px;
  color:white;
  width:0px;
  border-radius:8px;
  text-align:center;
text-shadow:0.8px 0.7px #212121;
  transition:0.4s linear;
  transition-property:width;
}
.skillset .skillbar-container{
  width:75%;
  border: 1px solid #212121;
  background-color:white;
  border-radius:8px;
 
}
.skillset{
 
  border-radius: 12px;
  padding: 1%;
  /*background: #0D0E0E;
  background-color: #eb8a88; 
  */
  opacity: 0.8;
  text-align: center;


}
.skillset ul {
  list-style-type: none;
  display:inline;
}

 .skillwrapper{
            border: 1px solid #eb8a88;
            padding: 5px;
            margin:5px;

        }

.knowledge-level{
  margin-bottom: 1em;
  text-align: right;
  color: white;
  width: 75%
}
    .skillbar-container,
        .knowledge-level{
          margin-left:  14%;
        }


.paragraphProjects{
margin:15px;
padding:15px;
}
.project-section{
   background-color: #eb8a88;
  color:#116466;
}

/*CAROUSEL*/


 .carousel {
  width: 88%;
     box-shadow: 5px 5px 5px #116466;
  margin: 0 auto;
}

.carousel-indicators li{
  color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 80px;
  width: 80px;
  outline: black;


}
.carousel-indicators ol {
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
ol.carousel-indicators li.active {
  background: white;
}

.carousel-indicators {
    bottom: -50px;
}
.carousel-caption {
    height:30%;
  color:white;
    width:100%;
 opacity: 0.8;
 bottom:-1px;
   left:0 !important;
}

.carousel-caption h5 {
    margin-left:30px;
  font-weight: bold;
}

.carousel-caption p {
    display:  none;
}

/*.carousel-caption {
    color: white;
    text-align: center;
    
    xtransform: translateY(-50%);
    xbottom: initial;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    height: 35%;
    width: 70%;
    
}
*/

/*TIMELINE*/
section {
  padding: 100px 0;
}


.timeline {
  margin: 20px;
   opacity:  0.8;
  position: relative;
   padding:20px;
    padding-left:   10px;
}
.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.bnt-more {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
.bnt-more:hover, .bnt-more:active, .bnt-more:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background-color: lightblue;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  padding-bottom: 35px;
}
.timeline-img-header h2 {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-weight: bold;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  height: 28px;
  font-size: 0.85em;
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}


/* TIMELINE OVELAY*/
.overlay {
 position: absolute;
  left:0;
  right:0;
background: rgba(100, 100, 100, 0.4)
}

.mymodal {
width: 375px;
margin: 15% auto auto;
position: relative;
text-align: center;
background: #fff;
border: 1px solid #778;
border-radius: 5px;
padding: 30px 20px;
max-height: 100vh;
    overflow-y: 'auto';
    margin-bottom: 100px;

}


.mymodal-close {
position: absolute;
right: 15px;
top: 5px;
cursor: pointer;
  background:none;
  border:none;
  font-weight: bold;
}


.card{
  width:80%;
  border-radius: 10px;
    margin:15px 45px;
    border: 2px solid lightgrey;
background-color: white;
text-align: center;

}

.avatar{
  border-radius: 30%;
  margin-top: 15px;
  border: 1px dotted grey;
      width: 50%;
    height: 100px;
}

.card:hover{

background-color: #fcf4f0;
transform: scale(1.2)
}

.mymodal-content{
  display: flex;
  flex-direction: column;


}
.mymodal-avatar{
 
    display: block;
margin: 0 auto;
width: 60%;
height:50%;
}
.mymodal-name, .mymodal-city,
.mymodal-address{
  text-transform: capitalize;
}

.mymodal-city{
  padding-bottom: 25px;
}
.mymodal-phone{
  padding-top: 20px;
}
.mymodal-email, .mymodal-city,.mymodal-address, .mymodal-birthday{
  padding-top: 10px;
}


/*================
=================================MEDIA QUERY=====================
=============
=======================================================================*/
@media only screen and (min-width: 600px) {
    
/*carousel*/

    #recent{
      display: flex;
      float:right;

    }

   .grid-container{
            display: grid;
             grid-template-columns: 1fr 1fr;
               grid-auto-rows: auto;
           }

            .carousel {
  width: 65vw;
     box-shadow: 5px 5px 5px #116466;
  margin: 0 auto;
}

/*curriculum PAGE*/
.introduction{
            display:  grid;
            flex-direction:   row;
             
            grid-template-rows: auto;
            margin:auto;
            margin-top:50px;
}
aside h2{
  padding:50px;
}

      .description p,
      .description h2,
       .me-cartoon {
        margin-right:   55px;
        margin-left:  20px;
      }
      .me-cartoon{
          width:  50%;
          margin-right: 10px;
      }
      .col{
          display: grid;
          flex-direction:   row;
            grid-template-columns: 1fr 1fr;
                      grid-template-rows: auto;
            
          }
       

    
}

@media only screen and (min-width: 900px) {

            .carousel-caption p {
    display: block;
      }

                 .grid-container{
            display: grid;
             grid-template-columns: 1fr 1fr 1fr;
               
           }
           header{
            display:flex;
           flex-direction:row;
          justify-content: space-around;
           
           }
          .first_column{
            width: 40%;
          }
         .second-column{
          width: 45%;
          justify-content: space-between;
         }
.introduction{
  text-align: left;
  display:  grid;
  grid-template-areas:  "me skills";
}

 .description{
  grid-area: "me";
}
aside{
  grid-area: "skills";
}
 .me-cartoon {
    width: 50%;
    margin-right: 10px;
    }
       .col{
     display: grid;
      flex-direction:   row;
           grid-template-columns: 1fr 1fr 1fr;
              grid-template-rows: auto;
            
    }


   
}


@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}


